---
# -*- html -*- mode
topnav:
  - text: 首页
    href: /
    http: "http://agileluo.github.io"
  - text: 文章
    href: /archives/
  - text: 分类
    href: /tags/
  - text: 关于我
    href: /about/
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>{{ page.title }} </title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="language" content="en" />
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
</head>

{% assign navTitle = 'Blog' %}
{% for t in page.topnav %}
{% if t.text == page.title %}{% assign navTitle = page.title %}{% endif %}
{% endfor %}

<body>
<div class="page_margins">
  <div id="header">
    <h2><a href="http://agileluo.github.io">推行敏捷实践，提高开发效率</a></h2>
    <div class="clear"></div>

    <!-- begin: main navigation #nav -->
    <div id="nav">
      <div class="hlist">
        <ul>
          {% for t in page.topnav %}
          <li{% if t.text == navTitle %} class="active"{% endif %}>
          <a href="{{ t.href }}"{% if t.title %} title="{{ t.title }}"{% endif %}>{{ t.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- end: main navigation -->
  </div>

  <!-- begin: main content area #main -->
  <div id="main">
    <div id="col1">
      <div id="col1_content">
        {{ content }}
      </div>
    </div>
    <div id="col3">
      <div id="col3_content">
        <h6 class="vlist">关于我</h6>
        <ul class="vlist">
			<li><a href="https://github.com/agileluo?tab=repositories">开源项目</a></li>
			<li><a href="http://121.199.22.216/jenkins/">CI 服务器</a></li>
        </ul>
        <h6 class="vlist">文章分类</h6>
        <ul class="vlist">
          
			 {% for tag in site.tags %}
			  <li><a href="/tags/#{{tag[0]}}">{{tag[0]}} ({{tag[1] | size}})</a></li>
			{% endfor %}
        </ul>
		<h6 class="vlist">友情链接:</h6>
        <ul class="vlist">
			<li><a href="http://www.255377.com/">IT技术百科</a></li>
        </ul>
        <br/>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!-- end: #main -->

  <!-- begin: #footer -->
  <div id="footer">
    <div class="hlist">
      <ul>
        {% for t in page.topnav %}
        <li{% if t.text == navTitle %} class="active"{% endif %}>
        <a href="{% if t.http %}{{ t.http }}{% else %}{{ t.href }}{% endif %}"
        {% if t.title %} title="{{ t.title }}"{% endif %}
        >{{ t.text }}</a>
        {% if forloop.last == false %} | {% endif %}
        </li>
        {% endfor %}
        <li>&ndash; updated {{ site.time | date:"%Y-%m-%d" }}</li>
      </ul>
    </div>
  </div>
  <!-- end: #footer -->

</div>

</body>
</html>
